@each $suffix, $animation in $animations {
    .tr-color-#{$suffix} {
        transition: color $animation;
    }
    .tr-opacity-#{$suffix} {
        transition: opacity $animation;
    }
    .tr-bg-#{$suffix} {
        transition: background-color $animation;
    }
    .tr-all-#{$suffix} {
        transition: all $animation;
    }
}