@each $name, $color in $base-colors {
    .bdr-#{$name} {
        border: 1px solid $color;

        @each $style in (dotted, dashed, solid) {
            &.bdr-#{$style} {
                border-style: $style;
            }
        }
    }
    @each $direction in (left, right, bottom, top) {
        .bdr-#{$direction}-#{$name} {
            border-#{$direction}: 1px solid $color;

            @each $style in (dotted, dashed, solid) {
                &.bdr-#{$style} {
                    border-#{$direction}-style: $style;
                }
            }
        }
    }
}

@each $name, $color in $additional-colors {
    .bdr-#{$name} {
        border: 1px solid $color;
    }
    @each $direction in (left, right, bottom, top) {
        .bdr-#{$direction}-#{$name} {
            border-#{$direction}: 1px solid $color;
        }
    }
}

@each $suffix, $width in $border-widths {
    .bw-#{$suffix} {
        border-width: $width;
    }
}