@each $name, $size in $font-sizes {
    .fs-#{$name} {
        font-size: $size;
    }
}

@each $suffix, $spacing in $letter-spaces {
    .ls-#{$suffix} {
        letter-spacing: $spacing;
    }
}

@each $suffix, $height in $line-heights {
    .lh-#{$suffix} {
        line-height: $height;
    }
}

.fw-black {
    font-weight: $font-weight-black;
}
.fw-xbold {
    font-weight: $font-weight-xbold;
}
.fw-bold {
    font-weight: $font-weight-bold;
}
.fw-semibold {
    font-weight: $font-weight-semibold;
}
.fw-medium {
    font-weight: $font-weight-medium;
}
.fw-normal {
    font-weight: $font-weight-normal;
}
.fw-light {
    font-weight: $font-weight-light;
}
.fw-xlight {
    font-weight: $font-weight-xlight;
}
.fs-italic {
    font-style: italic;
}
.td-underline {
    text-decoration: underline;
}
.td-strikeout {
    text-decoration: line-through;
}
.tt-uppercase {
    text-transform: uppercase;
}
.tt-lowercase {
    text-transform: lowercase;
}
.tt-capitalize {
    text-transform: capitalize;
}
.ff-monospace {
    font-family: monospace;
}