@each $suffix, $size in $fixed-sizes {
    .wf-#{$suffix} {
        width: $size;
    }
    .hf-#{$suffix} {
        height: $size;
    }
}

@each $suffix, $size in $percent-sizes {
    .w-#{$suffix} {
        width: $size;
    }
    .h-#{$suffix} {
        height: $size;
    }
}