html,
body {
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    line-height: 1.5rem;
    font-family: $font-family-primary;
}
@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        padding: 0;
        line-height: normal;
    }
}
a {
    text-decoration: none;
    color: map-get($base-colors, blue);

    &.td-underline {
        text-decoration: underline;
    }
    
    &.hover--td-underline {

        &:hover {
            text-decoration: underline;
        }
    }
}
.ta-right {
    text-align: right !important;
}
.ta-left {
    text-align: left !important;
}
.ta-center {
    text-align: center !important;
}
.ws-pre-line {
    white-space: pre-line;
}
.ws-normal {
    white-space: normal;
}